Body {
  font-family: roboto;
  margin: 0px;
}

/* LOGO ET HEADER */
i {
  display: flex;
}

.header_logo {
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}

.titre-principal {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-family: 'Shrikhand';
  justify-content: center;
}

.coeur .fas {
  font-size: 28px;
  color: white;
  -webkit-text-stroke: 2px black;
  }
  
  .coeur .fas:hover {
      font-size: 28px;
      background: linear-gradient(165deg,#9356DC,#FF79DA);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0px black; 
  }

.logo {
  width: 200px;
  position: relative;
  text-align: center;
}    


.image-restaurant {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.soustitre-menu hr {
  border: 0;
  border-top: 0.2rem solid #92e0cd;
  margin-top: -5%;
  width: 2rem;
  margin-left: 0rem;
  margin-bottom: 1rem;
}

.soustitre-menu h3 {
  font-weight: lighter;
}


main {
  background-color: #f6f6f6;
  margin-top: -6%;
  position: relative;
  border-radius: 4rem;
}

section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
}



.bouton_commander {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.bouton_commander button:hover {
opacity: 85%;   
box-shadow: 4px 4px 20px rgb(0 0 0 / 40%);
transition-duration: 500ms;
cursor: pointer;
}


.bouton_commander button {
  font-weight: 600;
  color: white;
  font-size: 1.1rem;
  width: 11rem;
  height: 3.5rem;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(180deg,#FF79DA,#9356DC);
}


/* FOOTER PALETTE DU GOUT */
.footer-restaurant {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -15px;
  }
  
  .footer-partenaire {
      align-items: center;
      display: flex;
      gap: 10px;
  }
  
  .footer-wrapper {
      color: white;
      padding: 1px 0px 20px 20px;
  }
  
  footer {
      background-color: #353535;
  }
  
  .footer-text-bottom {    
      display: flex;
      flex-direction: column;
      gap: 15px;
  }
  
  .footer-text-bottom p {
      padding: 0px;
      margin: 0px;
  }
  
  .logo-footer h2 {
      font-family: 'Shrikhand';
      font-weight: lighter;
  }

    
/*animate prix menu plat*/
.fiche-plats {
padding: 0px 0px 0px 5px;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.192);
border-radius: 1.5rem;
margin-bottom: 1.5rem;
margin-left: auto;
margin-right: auto;
display: flex;
width: 28rem;
height: fit-content;
}

.fiche-plats .check {
position: relative;
color: white;
background-color: #99e2d0;
padding: 10px;
display: block;
padding: 30px 0px;
text-align: center;
width: 0%;
float: right;
overflow: hidden;
white-space: nowrap;
text-overflow: clip;
border-radius: 0px 20px 20px 0px;
opacity: 0;
animation: 0.5s ease-out checkout;
}

@keyframes checkout {
0% {
  width: 20%;
  opacity: 1;
}

50% {
  opacity: 1;
}

100% {
  width: 0%;
  opacity: 0;
}
}

.prix-plat {
float: right;
margin-top: 3.5rem;
margin-left: -20px;
font-weight: bold;
padding-right: 10px;
}

@keyframes prix-plat_out {
0% {
  margin-left: -50px;
}

100% {
  margin-left: -20px;
}
}

.fiche-plats:hover .prix-plat p {
animation: 0.5s ease-in reverse both prix-plat;
}

@keyframes prix-plat {
0% {
  margin-left: -50px;
}

100% {
  margin-left: 0px;
}
}

.texte-box h2 {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
width: 90%;
}

.texte-box {
width: 100%;
margin-left: 0.5rem;
}

.texte-box p {
animation: 0.5s ease-in reverse both width-out;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}


.fiche-plats:hover .texte-box p {
overflow: hidden;
white-space: nowrap;
animation: 0.5s ease-in both width;
text-overflow: ellipsis;
}


.check i {
font-size: 1.7rem;
transition: transform 1s;
margin-top: 0.5rem;
}

.fiche-plats:hover {
transition: all 1s ease-out;
}

.fiche-plats:hover .check {
opacity: 1;
animation: 0.5s ease-in reverse both check;
}


@keyframes check {
0% {
  width: 20%;
}

100% {
  width: 0%;
}
}


.fiche-plats:hover .check i {
animation: 0.5s alternate rotate;
}

@keyframes rotate {
0% {
  transform: rotate(90deg);
}
100% {
  transform: rotate(360deg);
}
}
@keyframes slidein {
0% {
  transform: translatey(0px);
  opacity: 1;
}

80% {
  opacity: 0;
}

100% {
  transform: translatey(20px);
  opacity: 0;
}
}

.fiche-plats h2 {
font-weight: bold;
text-transform: none;
font-size: 1.3rem;
}

.fiche-plats p {
font-size: 0.975rem;
width: 80%;
margin-top: 0;
height: fit-content;
}   

/* PARTIE ani */
.anim-1, .anim-2, .anim-3, .anim-4, .anim-5, .anim-6, .anim-7, .anim-8, .anim-9{
  visibility: hidden;
}
.anim-1 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-2 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-3 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-4 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-5 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-6 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-7 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-8 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-9 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.anim-10 {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1200ms;
          animation-duration: 1200ms;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes bounceIn {
  0% {
   
    margin-top: 30px;
    margin-bottom: 0;
  }
  100% {
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    margin-top: 30px;
    margin-bottom: 0;
  }
  100% {
    opacity: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            visibility: visible;
  }
}


.footer-text-bottom a {
color: white;
text-decoration: none;
}


/* RESPONSIVE */

@media (max-width: 1400px) {

  section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: -4rem;
  }

  main {
      margin-top: -10%;
  }

.menu {
width: 23rem;
}

.prix-plat {
margin-top: 3.575rem;
}

.titre-principal {
gap: 1rem;
}

.image-restaurant {
width: 100%;
height: 20rem;
object-fit: cover;
}

}

@media (max-width: 700px) {

.prix-plat {
  margin-top: 3.65rem;
}

section {
  margin-left: 0rem;
}


.fiche-plats {
width: 24rem;
}

}


@media (max-width: 500px) {
.fiche-plats {
  width: 100%;
}

.prix-plat {
  margin-top: 3.1rem;
}

.fiche-plats h2 {
  font-size: 1.1rem;
}

.menu {
width: 22rem;
}

}