Body {
    font-family: roboto;
    margin: 0px;
}

/* PARTIE LOGO ET HEADER */
.logoheader {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.logo {
    width: 200px;
    position: relative;
    text-align: center;
}    


/* LOADER */

.chargement .fa-spinner {
    background-image: linear-gradient( #FF79DA, #99E2D0);
    color: transparent;
    border-radius: 30%;
    font-size: 2.5rem;
}

.chargement {
    position: fixed;
    gap: 3rem;
    display: flex;
    background-color: #ffffff;
    height: 100vh;
    inset: 0;
    z-index: 1;
    animation: disappear 500ms forwards;
    animation-delay: 1.5s;
    opacity: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*ani chargment*/
@keyframes disappear {
to {
    opacity: 0%;
    visibility: hidden;
}
}

/* Localisation */
.position {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 6px 0px 6px 0px;
    background-color: #ebebeb;
    box-shadow: inset 0px 3px 5px rgb(0 0 0 / 19%);
}

.position h2 {
    font-size: 20px;
}

.position .fa, .fas {
    font-size: 20px;
    font-weight: 900;
}

/* titre principal */
.titreprincipal {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.titreprincipal h1 {
    font-size: 22px;   
    margin-top: 20px;
}

.titreprincipal h2 {
    font-size: 18px;
    font-weight: normal;
    color: dimgrey;
    margin-top: 5px;
}

/* bouton nav */
.boutonnav {
    margin-top: 15px;
    display: flex;
    justify-content: center;  
}

.boutonnav button:hover {
opacity: 90%;   
transition-duration: 500ms;
box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
}

.boutonnav button {
    font-weight: 600;
    color: white;
    font-size: 17px;
    width: 16rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    background-image: linear-gradient(165deg,#FF79DA,#9356DC);
}

/* fonctonnement */
.fonctionnement {
    text-align: center;
    margin-top: 35px
}

.block_fonctionnement {
    margin-left: 15px;
    font-weight: bold;
}

.block-titre{
    margin-left: 15px;
}

.regle { 
    display: flex;
    padding: 15px 0px 15px 0px;
    box-shadow: 3px 3px 10px rgb(0 0 0 / 19%);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 22px;
    align-items: center;
    gap: 25px;
    background-color: #f6f6f6;
    font-weight: bolder;
    width: 20rem;
}

.regle .fas {
    font-size:22px
}

.regle:hover {
 background-color: #f5edff;
}

.regle:hover .icone_regle {
    color: #9356DC;
}

.regle .numero {
        padding: 3px 9px;
        border-radius: 50px;
        color: white;
        background-color: #9356dc;
        font-weight: normal;
        margin-left: -25px;
        margin-top: -5px;
        font-size: 20px;
}

.iconef {
    color: grey;
    margin-left: -5px;
}


.regle_parent{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}


/* BLOCK RESTAURANTS */
.block-titre {
    margin-left: 15px;
    font-size: 22px;
}


.block-resto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.fiche-resto {
    box-shadow: 0 0 16px #0000002e;
    border-radius: 20px;
    height: 340px;
}

.bouton-nouveau button {
    margin: -15rem 1rem 0rem 0rem;
    border: none;
    float: right;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    padding: 6px 14px;
    background: #99e2d0;
    color: #008766;
}

.image-resto {
    border-radius: 20px 20px 0px 0px;
    width: 560px;
    height: 260px;
    object-fit: cover;
}

.description-resto {
    margin-left: 20px;
    line-height: 8px;
}

.resto {
    background-color: #f6f6f6;
    padding-bottom: 30px;
}


.coeur {
    margin-top: -47px;
    float: right;
    padding-right: 34px;

}

.coeur-hover {
    margin-top: -47px;
    float: right;
    padding-right: 34px;
    display:none
}

.coeur:visited{
    font-size: 28px;
color: #9356DC;
-webkit-text-stroke: 2px black;
}



.coeur .fas {
font-size: 28px;
color: white;
-webkit-text-stroke: 2px black;
}

.coeur .fas:hover {
    font-size: 28px;
    background: linear-gradient(165deg,#9356DC,#FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0px black; 
}


/* FOOTER ACCUEIL */
.footer-resto {
display: flex;
align-items: center;
gap: 10px;
margin-bottom: -15px;
}

.footer-partenaire {
    align-items: center;
    display: flex;
    gap: 10px;
}

.footer-wrapper {
    color: white;
    padding: 1px 0px 20px 20px;
}

footer {
    background-color: #353535;
}

.footer-text-bottom a {
    color: white;
    text-decoration: none;
}

.footer-text-bottom {    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-text-bottom p {
    padding: 0px;
    margin: 0px;
}

.logo-footer h2 {
    font-family: 'Shrikhand';
    font-weight: lighter;
}
/* tablette*/
@media (min-width: 601px) and  (max-width: 1200px) {

    .regle_parent{
        flex-direction: column;
        margin-left: 25%;
    }
}

/* mobile */
@media (max-width: 600px) {

.image-resto {
width: 22rem;
height: 12rem;
display: block;
}

.fiche-resto {
    height: auto;
}

.bouton-nouveau button {
    margin: -11rem 1rem auto auto;
}

.titreprincipal {
    margin: 0.5rem;
}

}